# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
AvaloniaUI/AvaloniaUITest/bin
AvaloniaUI/AvaloniaUITest/obj
AvaloniaUI/Liquid_Technologies/bin
AvaloniaUI/.vs/AvaloniaUI/DesignTimeBuild
AvaloniaUI/.vs/AvaloniaUI/FileContentIndex
AvaloniaUI/.vs/AvaloniaUI/v17
AvaloniaUI/.vs
AvaloniaUI/Liquid_Technologies/obj
AvaloniaUI/ThirdParty/Avalonia.Controls.ToolBar/obj
AvaloniaUI/ThirdParty/Avalonia.Controls.ToolBar/bin
AvaloniaUI/Schema/obj
AvaloniaUI/Schema/bin
AvaloniaUI/DotNetTools/.store
